footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(26, 26, 26);
    .contact-container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a{
            font-size:1.2rem;
            text-decoration: none;
            color:white;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
