.homepage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.homepage .profile-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: home 1s ease-in-out forwards;
          animation: home 1s ease-in-out forwards;
}

.homepage .profile-container h1 {
  line-height: 1.6;
  width: 50%;
  margin: 40px auto;
}

.footer {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-text {
  font-size: 1.2rem;
}

.footer .resume-link {
  font-size: 1.5rem;
}

@-webkit-keyframes home {
  to {
    opacity: 1;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes home {
  to {
    opacity: 1;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@-webkit-keyframes languagesAnimation {
  to {
    opacity: 1;
    width: 40%;
  }
}

@keyframes languagesAnimation {
  to {
    opacity: 1;
    width: 40%;
  }
}

.bio {
  -webkit-animation: home 1s ease-in-out forwards;
          animation: home 1s ease-in-out forwards;
  margin: auto;
}

.bio .languages {
  opacity: 0;
  -webkit-animation: languagesAnimation 1s ease-in-out forwards;
          animation: languagesAnimation 1s ease-in-out forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 100px auto;
}

.bio .languages .language-icon {
  height: 90px;
  margin: 10px;
}

@media (max-width: 1000px) {
  .homepage {
    height: 100vh;
  }
  .homepage .profile-container h1 {
    font-size: 2em;
    width: 80%;
  }
  .homepage .bio .languages .language-icon {
    height: 80px;
    margin: 20px;
  }
}

@media (max-width: 750px) {
  .footer {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-text {
    font-size: 0.8rem;
  }
  .footer .resume-link {
    font-size: 0.9rem;
  }
  .homepage {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 100vh;
  }
  .homepage .profile-container h1 {
    width: 90%;
    line-height: 2;
    font-size: 100%;
  }
  .homepage .profile-container h2 {
    font-size: 100%;
  }
  .homepage .bio .languages {
    height: 10%;
    margin: 75px auto;
  }
  .homepage .bio .languages .language-icon {
    height: 50px;
    margin: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  .homepage {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: 100vh;
  }
  .homepage .profile-container h1 {
    font-size: 1rem;
  }
  .bio .languages {
    width: 100%;
    margin: 0 auto;
  }
  .bio .languages .language-icon {
    height: 40px;
    margin: 50px 10px;
  }
  .footer {
    height: 30vh;
  }
}

@media (min-width: 1200px) {
  .homepage {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: 100vh;
  }
  .homepage .profile-container h1 {
    line-height: 2;
    font-size: 2.2rem;
  }
  .bio .languages {
    width: 100%;
    margin: 0 auto;
  }
  .bio .languages .language-icon {
    height: 80px;
    margin: 50px 10px;
  }
  .footer {
    height: 15vh;
  }
}
/*# sourceMappingURL=home.css.map */