.project-icon {
  width: 15%;
  height: auto;
}
.project-card {
  margin: 50px auto;
  width: 60%;
}

@media (min-width: 650px) and (max-width: 1200px) {
  .projects-container {
    flex-wrap: wrap;
    .project-icon {
      width: 25%;
    }
    .project-card {
      width: 70vw;
    }
  }
}

@media (max-width: 600px) {
  .project-card {
    width: 90%;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  .projects-container {
    flex-wrap: wrap;
    .project-icon {
      width: 50%;
    }
    .project-card {
      width: 50vw;
    }
  }
}

@media (min-width: 1200px) {
  .projects-container {
    flex-wrap: wrap;
    .project-icon {
      width: 50%;
    }
    .project-card {
      width: 40vw;
    }
  }
}
