.project-icon {
  width: 15%;
  height: auto;
}
.project-card {
  margin: 1% auto;
  width: 60%;
  .project-title {
    font-weight: 400;
    color: #00a2d8;
  }
  .project-info {
    margin: 20px auto;
    width: 70%;
    line-height: 1.5em;
  }
}

@media (min-width: 650px) and (max-width: 1200px) {
  .project-icon {
    width: 25%;
  }
  .project-card {
    width: 100%;
    .project-title {
      font-size: 0.9em;
    }
    .project-info {
      width: 80%;
      letter-spacing: 0.03em;
      font-size: 0.8rem;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .project-icon {
    width: 25%;
  }
  .project-card {
    width: 80%;
    .project-title {
      font-size: 1em;
    }
    .project-info {
      margin: 0 auto;
      width: 80%;
      letter-spacing: 0.03em;
      font-size: 0.8rem;
    }
  }
}
